server:
  port: ${PORT:8080}

spring:
  application:
    name: swapi-service

  datasource:
    url: jdbc:h2:mem:swapi-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  h2:
    console:
      enabled: true

  webflux:
    base-path: /

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

jwt:
  secret: ${JWT_SECRET}
  expiration: 3600000
